<div #container class="container carbon--theme--g100">
	<div class="demo-content" ibmGrid>
		<div ibmRow>
			<div ibmCol [columnNumbers]="{'lg':11, 'md':11, 'sm': 11}">
				<h1 class="title">Maged<br>Hennawy</h1>
			</div>
			<div ibmCol [columnNumbers]="{'lg':1, 'md':1, 'sm': 1}">
				<a routerLink="/miriam" class="hidden">For Miriam</a>
			</div>
		</div>
		<div ibmRow>
			<p style="margin-top: 2rem; padding: 0 10px;">This is how you can keep up with my life as a developer</p>
		</div>
		<div class="body-text" ibmRow>
			<div ibmCol [columnNumbers]="{'lg':6, 'md':12, 'sm': 12}">
				<p>
					I'm a software developer with a heavy interest in full-stack development, focused on Angular, and currently on my way to be your favourite react developer.
					This website was built using IBM's very own Carbon theme. Built by my old team and yours truly.
				</p>
			</div>
			<div ibmCol [columnNumbers]="{'lg':6, 'md':12, 'sm': 12}">
				<p>
					Who am I?
				</p>
				<br>
				<ul ibmList class="list">
					<li ibmListItem>UofT CS Alumni</li>
					<li ibmListItem>Full-stack developer</li>
					<li ibmListItem>Script Builder</li>
					<li ibmListItem>Un-unethical Hacker</li>
					<li ibmListItem style="list-style-position: inside; padding-left: 16px; text-indent: -0.5em;">UX Designer</li>
					<li ibmListItem>Car Enthusiast</li>
				</ul>
			</div>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>
