<ibm-tabs>
	<ibm-tab heading="You May Like">
		<p>Cool Things</p><br>
		<p style="margin-bottom: 2rem;">
			This is where I will be compiling the cool things that I want to show off
		</p>
		<p>Such as:</p><br>
		<div ibmGrid>
			<div ibmRow>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/magedhennawy" target="_blank">My Repository</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://github.com/IBM/carbon-components-angular" target="_blank">Carbon Component Library</ibm-clickable-tile>
				</div>
				<div ibmCol [columnNumbers]="{'md':3, 'sm': 12}">
					<ibm-clickable-tile href="https://instagram.com/ovohenny/" target="_blank">Instagram plug</ibm-clickable-tile>
				</div>
			</div>
		</div>
	</ibm-tab>
	<ibm-tab heading="Contact Me">
		<p>This is how you can reach me :)</p><br>
		<p style="margin-bottom: 2rem;">
			magedhennawy@gmail.com 
		</p>
	</ibm-tab>
</ibm-tabs>
